certifi==2024.2.2
charset-normalizer==3.3.2
exceptiongroup==1.2.1
hvac==2.1.0
idna==3.7
iniconfig==2.0.0
ipcalc==1.99.0
logging-handler==1.0.7
pluggy==1.5.0
pytest==8.1.1
requests==2.31.0
six==1.16.0
tomli==2.0.1
urllib3==2.2.1
validators==0.28.1

umbrella_monitor==1.0.1
